.paticka {
  padding: 20px;
}

section {
  max-width: 1140px;
  margin: auto;
  margin-bottom: 50px;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: rgba(238, 134, 14, 1);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 15px;
}
